<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<title>메뉴추천</title>
<style>
    /* 스타일링 */
    label {
        display: block;
        margin-bottom: 10px;
    }
</style>
</head>
<body>
    <h3>알레르기 선택</h3>
    <form id = 'allergy'>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '갑각류'>
            갑각류
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '견과류'>
            견과류
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '밀가루'>
            밀가루
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '해산물'>
            해산물
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '양고기'>
            양고기
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '소고기'>
            소고기
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '우유'>
            우유
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '과일'>
            과일
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '달걀'>
            달걀
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '생선'>
            생선
        </label>
        <label>
            <input type = 'checkbox' name = 'allergy' value = '대두'>
            대두
        </label>
        <button type = 'button' onclick = 'submitForm()'>선택 완료</button>
    </form>
    <form method = 'post', action = '/allergy'>
        <label for = '알레르기'>기타:</label>
        <input type = 'text' id = '알레르기' name = '알레르기'>
        <input type = 'submit' value = '전달'>
      </form>

      </br>

      <button type = 'button' onclick = 'returnmain()'><img style="height: 50px; width: 50px;" src = '/static/images/back.webp' alt = '' onclick = ''> </button>

    <script>
        window.alert(['없으면 작성 X'])
        // 선택 완료 버튼을 눌렀을 때 실행되는 함수
        function submitForm() {var selected_allergy = document.querySelector('input[name="allergy"]:checked');}
        function returnmain() {window.location.href = 'https://127.0.0.1:5051/main';}
    </script>
</body>
</html>