<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset = "utf-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<title>음식점추천</title>
</head>
<link rel="stylesheet" href="/static/css/common.css">
<body>
    <div id = "object">
        <div class = "navbar">
            <a href="/manual">{{ lucide.icon('book', stroke_width=2, width=32, height=32) }}메뉴얼</a>
            <a href="/">{{ lucide.icon('square', stroke_width=2, width=32, height=32) }}홈</a>
            <a href="/map">{{ lucide.icon('map-pin', stroke_width=2, width=32, height=32) }}지도</a>
        </div>
            <h1 style = "left: 500px;">전송 실패</h1>
            <img style = "height: 350px; width: 350px; top: 850px;" src = "/static/images/ryan_sad.png">
        </div>
    </div>
</body>
</html>