<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<title>음식점추천</title>
</head>
<link rel="stylesheet" href="/static/css/ending.css">
<body>
    <div id = 'my_bg'></div>
        <div id = 'object'>
            <div class = 'navbar'>
                <a onclick = 'history.back()'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/back.png' /></a>
                <a href = '/user'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/user.png' /></a>
                <a href = '/'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/home.png' /></a>
                <a href = '/manual'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/manual.png' /></a>
            </div>
            
            <h1 style = 'left: 500px;'>전송 실패</h1>

            <img style = 'height: 350px; width: 350px; top: 850px;' src = '/static/images/ryan_sad.png'>

        </div>
    </div>  
</body>
</html>