<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<title>메뉴추천</title>
</head>
<body>
    <h1 style = 'left: 500px;'>전송 실패</h1>
    
    <img style = 'height: 400px; width: 400px; top: 850px' src = '/static/images/peach.jpg'>
    
    <button type = 'button' onclick = 'openlogin()'>
        <img style = 'height: 50px; width: 50px;' src = '/static/images/back.webp' alt = '' onclick = ''> 
    </button>
    
    <script>
        function openlogin() {window.location.href = 'https://127.0.0.1:5051/main';}
    </script>
</body>
</html>