<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>음식점추천</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="/static/manifest.json" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% if a %}
      <div id="login-section">
        <a href="/logout">
          <button type="button" class="logout-button">카카오 로그아웃</button>
        </a>
      </div>
      <div class="navbar">
        <a href="/manual">{{ lucide.icon("book", stroke_width=2, width=32, height=32) }}</a>
        <a href="/">{{ lucide.icon("square", stroke_width=2, width=32, height=32) }}</a>
        <a href="/map">{{ lucide.icon("map-pin", stroke_width=2, width=32, height=32) }}</a>
      </div>
      {% else %}
      <div id="login-section">
        <a href="{{c_b_u}}">
          <button type="button" class="login-button">카카오 로그인</button>
        </a>
      </div>
      {% endif %}

      <div id="object">
        <div class="title-container">
          <img src="/static/images/logo.png" style="width: 50px; height: 50px;" alt="Logo" />
          <h1>음식점추천</h1>
        </div>
        <h3>당신의 위치기반 날씨정보를 이용해 음식점을 추천해드립니다.</h3>
      </div>
    </div>
  </body>
</html>