<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <script src = 'https://code.jquery.com/jquery-3.6.4.min.js'></script>
    <title>메뉴추천</title>
</head>

<body>
  <div style = 'width: 290px; height: 76px; left: 10px; top :20px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 350; word-wrap: break-word'>메뉴추천</div>
  <div style = 'width: 350px; height: 44px; left: 10px; top :120px; position: absolute; color: black; font-size: 35px; font-family: Inter; font-weight: 320; word-wrap: break-word'>메뉴 추천하는 앱</div>
  <img style = 'width: 138px; height: 140px; left: 265px; top :20px; position: absolute' src = '/static/images/logo.png' />
   
  {% if key %}
  <a href = '{{c_b_u}}' >
    <img style = 'width: 154px; height: 84px; left: 11px; top: 200px; position: absolute' src = '/static/images/login.png' alt = '' onclick = '' >
  </a>

  {% else %}
  <a href = '/logout'>
    <img style = 'width: 154px; height: 84px; left: 11px; top: 200px; position: absolute' src = '/static/images/logout.png' alt = '' onclick = '' >
  </a>
  {% endif %}
      
  <a href = '/map'>
    <img type = 'button' style = 'width: 120px; height: 84px; left: 165px; top: 200px; position: absolute' src = '/static/images/map.png' alt = '' onclick = 'openZone()' >
  </a>

  <a href = '/service'>
    <img type = 'button' style = 'width: 120px; height: 84px; left: 300px; top: 200px; position: absolute' src = '/static/images/send.png' alt = '' onclick = 'runservice()' >
  </a>

  <button href = '/manual' alt = '' onclick = 'openmanual()'>설명서</button>

<img style = 'width: 400px; height: 400px; left: 5px; top: 300px; position: absolute' src = '/static/images/menu1.jpg' />

  <script>
    function openZone() {window.location.href = '/map';}

    function openZone() {window.location.href = '/service';}

    function openmanual() {window.location.href = '/manual';}

    function service() {window.location.href = '/service';}

    function loadImage() {var input = document.getElementById('fileInput');

      var reader = new FileReader();

      reader.onload = function(e) {document.getElementById('image').src = e.target.result;};
      reader.readAsDataURL(input.files[0]);}
  </script>
</body>
</html>