<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>음식점추천</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/manual.css" />
  <body>
    <div id="my_bg"></div>
    <div id="object">
      <div class="navbar">
        <a href="/manual">{{ lucide.icon('book', stroke_width=2, width=32, height=32) }}</a>
        <a href="/">{{ lucide.icon('square', stroke_width=2, width=32, height=32) }}</a>
        <a href="/user">{{ lucide.icon('user', stroke_width=2, width=32, height=32) }}</a>
      </div>
      <div id="text">
        <h2>1. 입장하기</h2>
        <h2>2. 지도에 들어가 지도가 나올때까지</h2>
        <h2>   기다린 후 지도 좀 구경한 후 동그라미 누르기</h2>
        <h2>3. 만약 직접 선택을 선택하면 먹을 음식을 고르고</h2>
        <h2>   전송 누르기</h2>
        <h2>4. 만약 룰렛을 선택하면 룰렛을 굴리고</h2>
        <h2>   전송 누르기</h2>
        <h2>5. 결과 확인하고 카카오톡 켜기</h2>
        <h2>6. 그럼 결과가 거기 있을거임</h2>
        <h2>7. 로그아웃을 누르면 첫 화면으로 돌아감</h2>
        <h2>8. 날씨는 8시 기준임</h2>
        <h2>9. 컴퓨터로 실행할 경우 위치정보가 다를 수 있음</h2>
        <h2>10. 지도에서 뒤로가기를 누르면 충분히 기다려야함 아니면 오류 뜰 수 있음</h2>
        <h2>11. 지도는 한국 한정임</h2>
      </div>
    </div>
  </body>
</html>
