<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<title>음식점추천</title>
</head>
<link rel="stylesheet" href="/static/css/select_menu.css">
<body>
    <div id = 'my_bg'></div> 
    <div class = 'navbar'>
        <a href = '/user'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/user.png' /></a>
        <a href = '/'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/home.png' /></a>
        <a href = '/manual'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/manual.png' /></a>
    </div>
            <div id = 'object'>
                <button type = 'submit'>랜덤으로 전송하기</button>
            </div>
        </div>
    <script>

    </script>
    </body>
</html>