<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식점 추천</title>
</head>
<body>

<h2>항목을 선택하세요:</h2>

<form>
    <div id="radioList"></div>

    <br>
    <input type="submit" value="전송">
</form>

<script>
    alert("{{f_l}}")
    const items = "{{f_l}}";

    const radioListDiv = document.getElementById("radioList");

    items.forEach((item, index) => {
        const radioInput = document.createElement("input");
        radioInput.type = "radio";
        radioInput.id = `item${index}`;
        radioInput.name = "fruit";
        radioInput.value = item;

        const label = document.createElement("label");
        label.htmlFor = `item${index}`;
        label.innerText = item;

        radioListDiv.appendChild(radioInput);
        radioListDiv.appendChild(label);
        radioListDiv.appendChild(document.createElement("br"));
    });
</script>

</body>
</html>