<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<title>메뉴추천</title>
</head>
<link rel="stylesheet" href="/static/css/user.css">
<body>
    <div id = 'my_bg'></div> 
    <div class = 'navbar'>
        <a href = '/user'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/user.png' /></a>
        <a href = '/'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/home.png' /></a>
        <a href = '/manual'><img id = 'image' class = 'box' style = 'width: 30px; height: 30px;' src = '/static/images/manual.png' /></a>
    </div>
            <div id = 'object'>
                <h2>id : {{id}}</h2>
                <h2>알레르기 : {{alle}}</h2>
                <h2>기록 : {{rec}}</h2>
                <h2>위치 : {{ad}}</h2>
                <h2>기우 : {{wea}}</h2>
                <h2>기온 : {{temp}}</h2>
                <h2>미세먼지 : {{dust}}</h2>
                <button type = 'button' onclick = 'alle()' href = '/alle'>알레르기</button>
                <button type = 'button' onclick = 'lo()' href = '/logout'>로그아웃</button>
            </div>
        </div> 
    <script>
        function alle() {window.location.href = '/alle';}
        function lo() {window.location.href = '/logout';}
    </script>
    </body>
</html>